<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714414372365-a15ifjrq75hl3al1dh6mv904s6er8krd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714414372365-a15ifjrq75hl3al1dh6mv904s6er8krd</string>
	<key>API_KEY</key>
	<string>AIzaSyAjySoc-8CPnxb_wI7GUkVgjVjuZzbgUOM</string>
	<key>GCM_SENDER_ID</key>
	<string>714414372365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maeilsun.HealthyApp</string>
	<key>PROJECT_ID</key>
	<string>healthy-app-9861e</string>
	<key>STORAGE_BUCKET</key>
	<string>healthy-app-9861e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714414372365:ios:851c778ab90d7184c58744</string>
</dict>
</plist>